AgileQuoteAdmin/Service References/AgileAdminService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4611/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" />
  <xs:import schemaLocation="http://localhost:4611/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DeleteRentalSparsService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RentalSparsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRentalSparsServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRentalSparsServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRentalSparsService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRentalSpars" nillable="true" type="q1:RentalSparsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRentalSparsServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRentalSparsServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleRentalSparsService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RentalSparsId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleRentalSparsServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="SingleRentalSparsServiceResult" nillable="true" type="q2:RentalSparsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RentalSparsListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RentalSparsListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="RentalSparsListServiceResult" nillable="true" type="q3:ArrayOfRentalSparsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRentalSparsService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRentalSpars" nillable="true" type="q4:RentalSparsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRentalSparsServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRentalSparsServiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetRoleListServiceResult" nillable="true" type="q5:ArrayOfRoleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleRoleRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleRoleRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetSingleRoleRecordServiceResult" nillable="true" type="q6:RoleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRoleProperty" nillable="true" type="q7:RoleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRoleRecordServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRoleProperty" nillable="true" type="q8:RoleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRoleServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRoleServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetCurrencyListServiceResult" nillable="true" type="q9:ArrayOfCurrencyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCurrencyRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCurrencyRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetSingleCurrencyRecordServiceResult" nillable="true" type="q10:CurrencyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCurrencyRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oCurrencyProperty" nillable="true" type="q11:CurrencyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCurrencyRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCurrencyRecordServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oCurrencyProperty" nillable="true" type="q12:CurrencyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCurrencyServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCurrencyServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCurrrencyService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrencyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCurrrencyServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCurrrencyServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrganizationListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrganizationListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetSalesOrganizationListServiceResult" nillable="true" type="q13:ArrayOfSalesOrganizationProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrganizationRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesOrgCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesOrganizationRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetSalesOrganizationRecordResult" nillable="true" type="q14:SalesOrganizationProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="OsalesOrganizationProperty" nillable="true" type="q15:SalesOrganizationProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRecordServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="OsalesOrganizationProperty" nillable="true" type="q16:SalesOrganizationProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRecordServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalesOrgCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRecordServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetMaterialListServiceResult" nillable="true" type="q17:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oMaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetMaterialListByIDResult" nillable="true" type="q18:MaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oMaterialParameter" nillable="true" type="q19:MaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMaterialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oMaterialParameter" nillable="true" type="q20:MaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMaterialResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oMaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMaterialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="CategoryListResult" nillable="true" type="q21:ArrayOfCategoryProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SugectionMaterialMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="oMaterialList" nillable="true" type="q22:ArrayOfint" />
        <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SugectionMaterialMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SugectionMaterialMappingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialMappingSugectionMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialMappingSugectionMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetMaterialMappingSugectionMaterialResult" nillable="true" type="q23:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSugectionMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialID" type="xs:int" />
        <xs:element minOccurs="0" name="MappingMaterial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSugectionMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSugectionMaterialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferedMaterialMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="oMaterialList" nillable="true" type="q24:ArrayOfint" />
        <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OfferedMaterialMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OfferedMaterialMappingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialMappingOfferedMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialMappingOfferedMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetMaterialMappingOfferedMaterialResult" nillable="true" type="q25:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfferedMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MaterialID" type="xs:int" />
        <xs:element minOccurs="0" name="MappingMaterial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOfferedMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOfferedMaterialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalProductsListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalProductsListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetRentalProductsListServiceResult" nillable="true" type="q26:ArrayOfRentalProductsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalProductsListByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRentalProductsListByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetRentalProductsListByIDResult" nillable="true" type="q27:RentalProductsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRentalProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRentalProductsParameter" nillable="true" type="q28:RentalProductsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRentalProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRentalProductsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRentalProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRentalProductsParameter" nillable="true" type="q29:RentalProductsProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRentalProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRentalProductsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRentalProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRentalProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRentalProductsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialBundleMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialBundleMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMaterialBundleMappingResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleListBasedOnCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleListBasedOnCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetBundleListBasedOnCategoryResult" nillable="true" type="q31:ArrayOfBundleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleMappingMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleMappingMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetBundleMappingMaterialResult" nillable="true" type="q32:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryNameList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCategoryNameListResult" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListBasedOnCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialListBasedOnCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetMaterialListBasedOnCategoryResult" nillable="true" type="q34:ArrayOfMaterialProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleSingleRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBundleSingleRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetBundleSingleRecordResult" nillable="true" type="q35:BundleProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterialMappingToBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MaterialIDQuantinyList" nillable="true" type="q36:ArrayOfKeyValueOfintint" />
        <xs:element minOccurs="0" name="BundleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="BundleDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Warrenty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMaterialMappingToBundleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertMaterialMappingToBundleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBundleMaterialRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBundleMaterialRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBundleMaterialRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBundle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MaterialIDQuantityList" nillable="true" type="q37:ArrayOfKeyValueOfintint" />
        <xs:element minOccurs="0" name="BundleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BundleDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Warrenty" type="xs:int" />
        <xs:element minOccurs="0" name="BundleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBundleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBundleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oUserReg" nillable="true" type="q38:UserRegistration" />
        <xs:element minOccurs="0" name="oUserImage" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegistrationServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyNameService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyNameServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="CompanyNameServiceResult" nillable="true" type="q39:ArrayOfCompanyValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationListService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationListServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="RegistrationListServiceResult" nillable="true" type="q40:ArrayOfRegistrationGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleNameService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleNameServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="RoleNameServiceResult" nillable="true" type="q41:ArrayOfUserRoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleRegistrationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleRegistrationServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="SingleRegistrationServiceResult" nillable="true" type="q42:RegistrationGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegistrationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oUserReg" nillable="true" type="q43:RegistrationGrid" />
        <xs:element minOccurs="0" name="oUserImage" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegistrationServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegistrationServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegistrationService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegistrationServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegistrationServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetImageServiceResult" nillable="true" type="q44:ArrayOfImageProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyNameService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyNameServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetCompanyNameServiceResult" nillable="true" type="q45:ArrayOfCompanyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCompanyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetSingleCompanyNameResult" nillable="true" type="q46:CompanyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyNameService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oCompanyProperty" nillable="true" type="q47:CompanyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyNameServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompanyNameServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyNameService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oCompanyProperty" nillable="true" type="q48:CompanyProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyNameServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompanyNameServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyNameService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyNameServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCompanyNameServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oLogin" nillable="true" type="q49:LoginProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthenticationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckAuthenticationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oLogin" nillable="true" type="q50:LoginProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserNameResult" nillable="true" type="q51:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetRulesListResult" nillable="true" type="q52:ArrayOfRulesProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RuleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="GetSingleRuleResult" nillable="true" type="q53:RulesProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRulesProperty" nillable="true" type="q54:RulesProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AgileQuoteAdminProperty.Property" minOccurs="0" name="oRulesProperty" nillable="true" type="q55:RulesProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RuleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRuleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>